.div-1 {
  width: 30%;
  border: 2px solid black;
  display: inline-block;
}
.div-2 {
  width: 30%;
  border: 2px solid black;
  display: inline-block;
}

.div-3 {
  width: 30%;
  border: 2px solid black;
  display: inline-block;
}

.bg-red {
  background-color: red;
  color: white;
}

.bg-green {
  background-color: green;
  color: white;
}

.bg-yellow {
  background-color: yellow;
}
