/* @media screen and (max-width: 480px) and (min-width: 0px) { */
p {
  font-family: fontForP;
}

.div-1,
.div-2 {
  width: 100%;
  border: 2px dotted white;
  display: inline-block;
}
.div-3 {
  display: none;
}
/* } */
