@font-face {
  font-family: fontForP;
  src: url(data/font/Lobster-Regular.ttf);
}

@font-face {
  font-family: fontForP;
  src: url(data/font/Lobster-Regular.ttf);
}
@font-face {
  font-family: fontForP;
  src: url(data/font/Lobster-Regular.ttf);
}
@font-face {
  font-family: fontForP;
  src: url(data/font/Lobster-Regular.ttf);
}
@font-face {
  font-family: fontForP;
  src: url(data/font/Lobster-Regular.ttf);
}
@font-face {
  font-family: fontForP;
  src: url(data/font/Lobster-Regular.ttf);
}
